<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>moneyforward-card</title>
  </head>
  <body>
    <div class="mf-card">
      <div class="card-image">
        <div class="img">pic from Ask</div>
      </div>
      <div class="card-content">
        <div class="title">
          Lipsum
        </div>
        <div class="para">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="card-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
          <line x1="18" y1="30" x2="42" y2="30" stroke-width="3" stroke="rgb(241,221,229)" />
          <line x1="30" y1="18" x2="42" y2="30" stroke-width="3" stroke="rgb(241,221,229)" />
          <line x1="30" y1="42" x2="42" y2="30" stroke-width="3" stroke="rgb(241,221,229)" />
        </svg>
      </div>
    </div>
  </body>
</html>
