<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"><script>const ID = 'N1Y1VcfZRRA'</script>
    <title>coachella-card</title>
  </head>
  <body>
    <div class="cc-card">
      <div class="container">
        <div class="image">
          <div class="img"></div>
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 60 60">
              <line x1="18" y1="30" x2="42" y2="30" stroke-width="3" stroke="rgb(241,221,229)" />
              <line x1="30" y1="18" x2="30" y2="42" stroke-width="3" stroke="rgb(241,221,229)" />
            </svg>
          </div>
        </div>
        <div class="content">
          <h5>Lorem ipsum</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="btn">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 60 60">
                <polyline points="30,18 42,30 30,42" stroke-width="3" stroke="rgb(241,221,229)" fill="#ff8c85"/>
                <line x1="18" y1="30" x2="42" y2="30" stroke-width="3" stroke="rgb(241,221,229)" />
              </svg>
            </span>
            <span class="label">
              <span class="text">Label</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
