<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>lig-radio</title>
  </head>
  <body>
    <div class="lig-radio">
      <form class="form-target">
        <ul>
          <li>
            <input type="radio" id="radio-00" name="radio"/>
            <label for="radio-00">Element-1
              <svg viewBox="0 0 32 32">
                <circle cx="16" cy="16" r="0"/>
              </svg>
            </label>
          </li>
          <li>
            <input type="radio" id="radio-01" name="radio"/>
            <label for="radio-01">Element-2
              <svg viewBox="0 0 32 32">
                <circle cx="16" cy="16" r="0"/>
              </svg>
            </label>
          </li>
          <li>
            <input type="radio" id="radio-02" name="radio" />
            <label for="radio-02">Element-3
              <svg viewBox="0 0 32 32">
                <circle cx="16" cy="16" r="0"/>
              </svg>
            </label>
          </li>
        </ul>
      </form>
    </div>
  </body>
</html>
