<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>nodai-nav</title>
  </head>
  <body>
    <div class="nodai-nav">
      <div class="left-container"></div>
      <div class="right-container">
        <div class="nav-container">
          <div class="nav-title">COURSE NAVIGATOR</div>
          <div class="nav-subtitle">学院介绍</div>
          <div class="nav-element">
            <div class="element-cell">
              <div class="element-title et-color-1">
                <div class="t">
                  农学院
                </div>
              </div>
              <div class="element-content">
                <div class="c">
                  农业信息技术、农业生物技术、农产品标准化与贸易
                </div>
              </div>
            </div>
            <div class="element-detail">
              <section>
                <div class="detail-title et-color-1">
                  <h4>农<br>学<br>院</h4>
                </div>
                <div class="detail-content">
                  <section>
                    <h5>农业信息技术</h5>
                    <p>农业信息技术的应用，特别是遥感技术（RS）、地理信息系统（GIS）、全球定位系统（GPS）的应用，因具有宏观、实时、低成本、快速、高精度的信息获取，高效数据管理及空间分析的能力，从而成为重要的现代农业资源管理手段，广泛应用于土地、土壤、气候、水、农作物品种、动植物类群、海洋渔等资源的清查与管理，以及全球植被动态、地地利用动态监测、土壤侵蚀监测。我国已研制出红壤资源信息系统，土地利用现状调查和数据处理系统，北方草地产量动态监测系统，中国农作物种质资源数据库及国家农业资源数据库等。</p>
                  </section>
                  <section>
                    <h5>农业生物技术</h5>
                    <p>农业生物技术是指运用基因工程、发酵工程、细胞工程、酶工程以及分子育种等生物技术，改良动植物及微生物品种生产性状、培育动植物及微生物新品种、生产生物农药、兽药与疫苗的新技术。</p>
                  </section>
                  <section>
                    <h5>农产品标准化与贸易</h5>
                    <p>农业标准化是农业现代化建设的一项重要内容，是科技兴农的载体和基础。随着农业国际化日益增强，农产品、农业技术以及信息的相互交流、交换也越来越频繁，竞争的全球化和区域经济一体化的迅速发展。</p>
                  </section>
                </div>
              </section>
            </div>
          </div>
          <div class="nav-element">
            <div class="element-cell">
              <div class="element-title et-color-2">
                <div class="t">
                  理学院
                </div>
              </div>
              <div class="element-content">
                <div class="c">
                  基础数学、计算数学、概率和统计
                </div>
              </div>
            </div>
            <div class="element-detail">
              <section>
                <div class="detail-title et-color-2">
                  <h4>理<br>学<br>院</h4>
                </div>
                <div class="detail-content">
                  <section>
                    <h5>基础数学</h5>
                    <p>基础数学又叫纯粹数学，即按照数学内部的需要，或未来可能的应用，对数学结构本身的内在规律进行研究，而并不要求同解决其他学科的实际问题有直接的联系，只是以纯粹形式研究事物的数量关系和空间形式。</p>
                  </section>
                  <section>
                    <h5>计算数学</h5>
                    <p>计算数学是伴随着计算机的出现而迅猛发展起来的新学科，涉及计算物理、计算化学、计算力学、计算材料学、环境科学、地球科学、金融保险等众多交叉学科。它运用现代数学理论与方法解决各类科学与工程问题，分析和提高计算的可靠性、有效性和精确性，研究各类数值软件的开发技术。既突出了解决信息、电子与计算机领域中的某些核心理论技术问题，又注意到从这些高新技术中抽象出新的数学理论;在保持应用数学与计算数学主体研究方向优势的基础上，重视并加强信息科学的数学基础、数据分析与统计计算、科学计算、现代优化、电子系统的数值模拟、生物系统的数学建模等研究。</p>
                  </section>
                  <section>
                    <h5>概率和统计</h5>
                    <p>作为数学的分支，概率学是研究随机事件的一门科学技术，涉及工程、生物学、化学、遗传学、博弈论、经济学等多方面的应用，几乎遍及所有的科学技术领域，可以说是各种预测的基石。统计学是关于收集、整理、分析和解释统计数据的科学。</p>
                  </section>
                </div>
              </section>
            </div>
          </div>
          <div class="nav-element">
            <div class="element-cell">
              <div class="element-title et-color-3">
                <div class="t">
                  文学院
                </div>
              </div>
              <div class="element-content">
                <div class="c">
                  汉语言文字、哲学、历史学
                </div>
              </div>
            </div>
            <div class="element-detail">
              <section>
                <div class="detail-title et-color-3">
                  <h4>文<br>学<br>院</h4>
                </div>
                <div class="detail-content">
                  <section>
                    <h5>汉语言文学</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </section>
                  <section>
                    <h5>哲学</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </section>
                  <section>
                    <h5>历史学</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </section>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
