<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>hajimekata-carousel</title>
  </head>
  <body>
    <div class="hj-carousel">
      <div class="section-l">
        <ul class="slide">
          <li class="piece">
            <div class="back">
              <div class="img" style="background-image:url('https://i.pximg.net/img-master/img/2017/05/04/01/34/19/62724476_p0_master1200.jpg')">
              </div>
            </div>
            <div class="card">
              <div class="card-title">
                Lorem ipsum
              </div>
              <div class="card-section">
                Lorem ipsum
              </div>
            </div>
            <div class="mask">
              <div class="mask-txt">
                READ MORE
              </div>
            </div>
          </li>
          <li class="piece">
            <div class="back">
              <div class="img" style="background-image:url('https://i.pximg.net/img-master/img/2017/05/04/01/34/19/62724476_p2_master1200.jpg')">
              </div>
            </div>
            <div class="card">
              <div class="card-title">
                Lorem ipsum
              </div>
              <div class="card-section" style="background:rgb(0,0,255);">
                Lorem ipsum
              </div>
            </div>
            <div class="mask" style="background:rgba(0,0,255,.6);">
              <div class="mask-txt">
                READ MORE
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="section-r">
        <ul class="slide">
          <li class="piece">
            <div class="back">
              <div class="img" style="background-image:url('https://i.pximg.net/img-master/img/2017/05/04/01/34/19/62724476_p3_master1200.jpg')">
              </div>
            </div>
            <div class="card">
              <div class="card-title">
                Lorem ipsum
              </div>
              <div class="card-section" style="background:rgb(0,255,0);">
                Lorem ipsum
              </div>
            </div>
            <div class="mask" style="background:rgba(0,255,0,.6);">
              <div class="mask-txt">
                READ MORE
              </div>
            </div>
          </li>
          <li class="piece">
            <div class="back">
              <div class="img" style="background-image:url('https://i.pximg.net/img-master/img/2017/05/04/01/34/19/62724476_p5_master1200.jpg')">
              </div>
            </div>
            <div class="card">
              <div class="card-title">
                Lorem ipsum
              </div>
              <div class="card-section" style="background:rgb(18,43,65);">
                Lorem ipsum
              </div>
            </div>
            <div class="mask" style="background:rgba(18,43,65,.6);">
              <div class="mask-txt">
                READ MORE
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
