<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>muuuuu-category</title>
  </head>
  <body>
    <div class="main">
      pic from Ask
    </div>
    <div class="mu-category">
      <nav>
        <div class="cate">
          <h2>FRUIT</h2>
          <ul>
            <li><a href="#">apple</a></li>
            <li><a href="#">banana</a></li>
            <li><a href="#">orange</a></li>
            <li><a href="#">peach</a></li>
            <li><a href="#">lemon</a></li>
            <li><a href="#">pear</a></li>
            <li><a href="#">grape</a></li>
          </ul>
        </div>
        <div class="cate">
          <h2>FRUIT</h2>
          <ul>
            <li><a href="#">apple</a></li>
            <li><a href="#">banana</a></li>
            <li><a href="#">orange</a></li>
            <li><a href="#">peach</a></li>
            <li><a href="#">lemon</a></li>
            <li><a href="#">pear</a></li>
            <li><a href="#">grape</a></li>
          </ul>
        </div>
        <div class="cate">
          <h2>FRUIT</h2>
          <ul>
            <li><a href="#">apple</a></li>
            <li><a href="#">banana</a></li>
            <li><a href="#">orange</a></li>
            <li><a href="#">peach</a></li>
            <li><a href="#">lemon</a></li>
            <li><a href="#">pear</a></li>
            <li><a href="#">grape</a></li>
          </ul>
        </div>
        <div class="cate">
          <h2>FRUIT</h2>
          <ul>
            <li><a href="#">apple</a></li>
            <li><a href="#">banana</a></li>
            <li><a href="#">orange</a></li>
            <li><a href="#">peach</a></li>
            <li><a href="#">lemon</a></li>
            <li><a href="#">pear</a></li>
            <li><a href="#">grape</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <script src="index.js"></script>
  </body>
</html>
