<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>kzuoh-card</title>
  </head>
  <body>
    <div class="kz-card">
      <div class="container">
        <div class="title">
          Lorem
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 60 60">
            <polyline points="30,18 42,30 30,42" stroke-width="3" stroke="rgb(241,221,229)" fill="none"/>
          </svg>
        </span>
      </div>
    </div>
  </body>
</html>
