<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>original-card</title>
  </head>
  <body>
    <div class="original-card">
      <div class="mask"></div>
      <div class="card-title">Hello</div>
      <div class="card-content">Hello world!I'm a lonely coder~</div>
    </div>
  </body>
</html>
