body {
  display: flex;
  position: absolute;
  width: 100%;height: 100%;
  justify-content: center;
  align-items: center;
}
.ace-btn {
  width: 100px; height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.ace-btn span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 2px;
  font-weight: 500;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.ace-btn span:first-child {
  color: #fff;
  transform-origin: 50% 50% -20px;
  transform: rotateX(90deg);
}

.ace-btn:hover span:first-child {
  border-color: #d81e34;
  background-color: #d81e34;
  transform: rotateX(0deg);
}

.ace-btn span:last-child {
  border-color: #d81e34;
  color: #d81e34;
  transform-origin: 50% 50% -20px;
  transform: rotateX(0deg);
}

.ace-btn:hover span:last-child {
  opacity: 0;
  transform: rotateX(-90deg);
}