<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>graphika-banner</title>
  </head>
  <body>
    <div class="gh-banner">
      <div class="text">
        <span class="txt1">H</span>
        <span class="txt2">E</span>
        <span class="txt3">L</span>
        <span class="txt4">L</span>
        <span class="txt5">O</span>
        <span class="txt6">!</span>
      </div>
      <div class="pic-source">
        pic from Ask
      </div>
    </div>
  </body>
</html>
