<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>kokono-card</title>
  </head>
  <body>
    <div class="ko-card">
      <div class="ko-content">
        <span class="ko-category">#Category</span>
        <div class="ko-pic"></div>
        <div class="ko-contents">
          <h3 class="contents-title">Lorem ipsum</h3>
          <div class="contents-intro">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
          <div style="margin-top: 20px">pic from Ask</div>
        </div>
      </div>
    </div>
  </body>
</html>
