<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>funplex-loading</title>
  </head>
  <body>
    <div class="fp-loading">
      <svg width="110" height="110" viewBox="0 0 110 110">
        <g>
          <rect x="0" y="0" width="30" height="30">
            <animate id="x11"
              attributeName="x"
              begin="0s;x11.end+1s"
              dur="1s"
              values="0;15;0"
            />
            <animate id="y11"
              attributeName="y"
              begin="0s;y11.end+1s"
              dur="1s"
              values="0;15;0"
            />
            <animate id="w1"
              attributeName="width"
              begin="0s;w1.end+1s"
              dur="1s"
              values="30;0;30"
            />
            <animate id="h1"
              attributeName="height"
              begin="0s;h1.end+1s"
              dur="1s"
              values="30;0;30"
            />
          </rect>
          <rect x="0" y="40" width="30" height="30">
            <animate id="x21"
              attributeName="x"
              begin="0s;x21.end+1s"
              dur="1s"
              values="0;15;0"
            />
            <animate id="y21"
              attributeName="y"
              begin="0s;y21.end+1s"
              dur="1s"
              values="40;55;40"
            />
            <animate id="w1"
              attributeName="width"
              begin="0s;w1.end+1s"
              dur="1s"
              values="30;0;30"
            />
            <animate id="h1"
              attributeName="height"
              begin="0s;h1.end+1s"
              dur="1s"
              values="30;0;30"
            />
          </rect>
          <rect x="0" y="80" width="30" height="30">
            <animate id="x31"
              attributeName="x"
              begin="0s;x31.end+1s"
              dur="1s"
              values="0;15;0"
            />
            <animate id="y31"
              attributeName="y"
              begin="0s;y31.end+1s"
              dur="1s"
              values="80;95;80"
            />
            <animate id="w1"
              attributeName="width"
              begin="0s;w1.end+1s"
              dur="1s"
              values="30;0;30"
            />
            <animate id="h1"
              attributeName="height"
              begin="0s;h1.end+1s"
              dur="1s"
              values="30;0;30"
            />
          </rect>
        </g>
        <g>
          <rect x="40" y="0" width="30" height="30">
            <animate id="x12"
              attributeName="x"
              begin=".3s;x12.end+1s"
              dur="1s"
              values="40;55;40"
            />
            <animate id="y12"
              attributeName="y"
              begin=".3s;y12.end+1s"
              dur="1s"
              values="0;15;0"
            />
            <animate id="w2"
              attributeName="width"
              begin=".3s;w2.end+1s"
              dur="1s"
              values="30;0;30"
            />
            <animate id="h2"
              attributeName="height"
              begin=".3s;h2.end+1s"
              dur="1s"
              values="30;0;30"
            />
          </rect>
          <rect x="40" y="40" width="30" height="30">
            <animate id="x22"
              attributeName="x"
              begin=".3s;x22.end+1s"
              dur="1s"
              values="40;55;40"
            />
            <animate id="y22"
              attributeName="y"
              begin=".3s;y22.end+1s"
              dur="1s"
              values="40;55;40"
            />
            <animate id="w2"
              attributeName="width"
              begin=".3s;w2.end+1s"
              dur="1s"
              values="30;0;30"
            />
            <animate id="h2"
              attributeName="height"
              begin=".3s;h2.end+1s"
              dur="1s"
              values="30;0;30"
            />
          </rect>
          <rect x="40" y="80" width="30" height="30">
            <animate id="x32"
              attributeName="x"
              begin=".3s;x32.end+1s"
              dur="1s"
              values="40;55;40"
            />
            <animate id="y32"
              attributeName="y"
              begin=".3s;y32.end+1s"
              dur="1s"
              values="80;95;80"
            />
            <animate id="w2"
              attributeName="width"
              begin=".3s;w2.end+1s"
              dur="1s"
              values="30;0;30"
            />
            <animate id="h2"
              attributeName="height"
              begin=".3s;h2.end+1s"
              dur="1s"
              values="30;0;30"
            />
          </rect>
        </g>
        <g>
          <rect x="80" y="0" width="30" height="30">
            <animate id="x13"
              attributeName="x"
              begin=".6s;x13.end+1s"
              dur="1s"
              values="80;95;80"
            />
            <animate id="y13"
              attributeName="y"
              begin=".6s;y13.end+1s"
              dur="1s"
              values="0;15;0"
            />
            <animate id="w3"
              attributeName="width"
              begin=".6s;w3.end+1s"
              dur="1s"
              values="30;0;30"
            />
            <animate id="h3"
              attributeName="height"
              begin=".6s;h3.end+1s"
              dur="1s"
              values="30;0;30"
            />
          </rect>
          <rect x="80" y="40" width="30" height="30">
            <animate id="x23"
              attributeName="x"
              begin=".6s;x23.end+1s"
              dur="1s"
              values="80;95;80"
            />
            <animate id="y23"
              attributeName="y"
              begin=".6s;y23.end+1s"
              dur="1s"
              values="40;55;40"
            />
            <animate id="w3"
              attributeName="width"
              begin=".6s;w3.end+1s"
              dur="1s"
              values="30;0;30"
            />
            <animate id="h3"
              attributeName="height"
              begin=".6s;h3.end+1s"
              dur="1s"
              values="30;0;30"
            />
          </rect>
          <rect x="80" y="80" width="30" height="30">
            <animate id="x33"
              attributeName="x"
              begin=".6s;x33.end+1s"
              dur="1s"
              values="80;95;80"
            />
            <animate id="y33"
              attributeName="y"
              begin=".6s;y33.end+1s"
              dur="1s"
              values="80;95;80"
            />
            <animate id="w3"
              attributeName="width"
              begin=".6s;w3.end+1s"
              dur="1s"
              values="30;0;30"
            />
            <animate id="h3"
              attributeName="height"
              begin=".6s;h3.end+1s"
              dur="1s"
              values="30;0;30"
            />
          </rect>
        </g>
      </svg>
    </div>
  </body>
</html>
