<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>nintendo-schedule-scroller</title>
  </head>
  <body>
    <div class="nin-scroller">
      <div class="scroller-wrap" draggable="false">
        <div class="scroller-item">
          <div class="item-thumb"></div>
          <div class="item-label">3DS</div>
          <div class="item-title">Lorem ipsum</div>
          <div class="item-sub">Lorem ipsum</div>
        </div>
        <div class="scroller-item">
          <div class="item-thumb"></div>
          <div class="item-label">3DS</div>
          <div class="item-title">Lorem ipsum</div>
          <div class="item-sub">Lorem ipsum</div>
        </div>
        <div class="scroller-item">
          <div class="item-thumb"></div>
          <div class="item-label">3DS</div>
          <div class="item-title">Lorem ipsum</div>
          <div class="item-sub">Lorem ipsum</div>
        </div>
        <div class="scroller-item">
          <div class="item-thumb"></div>
          <div class="item-label">3DS</div>
          <div class="item-title">Lorem ipsum</div>
          <div class="item-sub">Lorem ipsum</div>
        </div>
        <div class="scroller-item">
          <div class="item-thumb"></div>
          <div class="item-label">3DS</div>
          <div class="item-title">Lorem ipsum</div>
          <div class="item-sub">Lorem ipsum</div>
        </div>
        <div class="scroller-item">
          <div class="item-thumb"></div>
          <div class="item-label">3DS</div>
          <div class="item-title">Lorem ipsum</div>
          <div class="item-sub">Lorem ipsum</div>
        </div>
      </div>
      <div class="nin-pager">
        <div class="pager-prev pager-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
            <circle cx="25" cy="25" r="20" stroke="red"
stroke-width="3" fill="white"/>
            <polyline id="pl" points="30,15 20,25 30,35" stroke-width="3" stroke="red" fill="white"/>
          </svg>
        </div>
        <div class="pager-bar">
          <div class="bar-slide">
            <div class="bar-switch">
              <p class="switch-text">Text</p>
            </div>
          </div>
          <div class="bar-sections">
          </div>
        </div>
        <div class="pager-next pager-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
            <circle cx="25" cy="25" r="20" stroke="red"
stroke-width="3" fill="white"/>
            <polyline id="pl" points="20,15 30,25 20,35" stroke-width="3" stroke="red" fill="white"/>
          </svg>
        </div>
      </div>
    </div>
    <div>pic from Ask</div>
    <script src="index.js"></script>
  </body>
</html>
