<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>spaceshowertv-loading</title>
  </head>
  <body>
    <div class="sstv-loading">
      <svg width="110" height="110" viewBox="0 0 110 110">
        <rect x="0" y="80" width="30" height="30">
          <animateTransform id="t31"
            type="translate"
            attributeName="transform"
            begin="0s;t31_2.end+2.5s"
            dur=".3s"
            from="0 -20"
            to="0 0"
            fill="freeze"
          />
          <animate id="o31"
            attributeName="opacity"
            begin="0s;o31_2.end+2.5s"
            dur=".3s"
            from="0"
            to="1"
            fill="freeze"
          />
          <animateTransform id="t31_2"
            type="translate"
            attributeName="transform"
            begin="t31.end+2.5s"
            dur=".3s"
            from="0 0"
            to="0 20"
            fill="freeze"
          />
          <animate id="o31_2"
            attributeName="opacity"
            begin="o31.end+2.5s"
            dur=".3s"
            from="1"
            to="0"
            fill="freeze"
          />
        </rect>
        <rect x="40" y="80" width="30" height="30">
          <animateTransform id="t32"
            type="translate"
            attributeName="transform"
            begin=".3s;t32_2.end+2.5s"
            dur=".3s"
            from="0 -20"
            to="0 0"
            fill="freeze"
          />
          <animate id="o32"
            attributeName="opacity"
            begin=".3s;o32_2.end+2.5s"
            dur=".3s"
            from="0"
            to="1"
            fill="freeze"
          />
          <animateTransform id="t32_2"
            type="translate"
            attributeName="transform"
            begin="t32.end+2.5s"
            dur=".3s"
            from="0 0"
            to="0 20"
            fill="freeze"
          />
          <animate id="o32_2"
            attributeName="opacity"
            begin="o32.end+2.5s"
            dur=".3s"
            from="1"
            to="0"
            fill="freeze"
          />
        </rect>
        <rect x="80" y="80" width="30" height="30">
          <animateTransform id="t33"
            type="translate"
            attributeName="transform"
            begin=".6s;t33_2.end+2.5s"
            dur=".3s"
            from="0 -20"
            to="0 0"
            fill="freeze"
          />
          <animate id="o33"
            attributeName="opacity"
            begin=".6s;o33_2.end+2.5s"
            dur=".3s"
            from="0"
            to="1"
            fill="freeze"
          />
          <animateTransform id="t33_2"
            type="translate"
            attributeName="transform"
            begin="t33.end+2.5s"
            dur=".3s"
            from="0 0"
            to="0 20"
            fill="freeze"
          />
          <animate id="o33_2"
            attributeName="opacity"
            begin="o33.end+2.5s"
            dur=".3s"
            from="1"
            to="0"
            fill="freeze"
          />
        </rect>
        <rect x="0" y="40" width="30" height="30">
          <animateTransform id="t21"
            type="translate"
            attributeName="transform"
            begin=".9s;t21_2.end+2.5s"
            dur=".3s"
            from="0 -20"
            to="0 0"
            fill="freeze"
          />
          <animate id="o21"
            attributeName="opacity"
            begin=".9s;o21_2.end+2.5s"
            dur=".3s"
            from="0"
            to="1"
            fill="freeze"
          />
          <animateTransform id="t21_2"
            type="translate"
            attributeName="transform"
            begin="t21.end+2.5s"
            dur=".3s"
            from="0 0"
            to="0 20"
            fill="freeze"
          />
          <animate id="o21_2"
            attributeName="opacity"
            begin="o21.end+2.5s"
            dur=".3s"
            from="1"
            to="0"
            fill="freeze"
          />
        </rect>
        <rect x="40" y="40" width="30" height="30">
          <animateTransform id="t22"
            type="translate"
            attributeName="transform"
            begin="1.2s;t22_2.end+2.5s"
            dur=".3s"
            from="0 -20"
            to="0 0"
            fill="freeze"
          />
          <animate id="o22"
            attributeName="opacity"
            begin="1.2s;o22_2.end+2.5s"
            dur=".3s"
            from="0"
            to="1"
            fill="freeze"
          />
          <animateTransform id="t22_2"
            type="translate"
            attributeName="transform"
            begin="t22.end+2.5s"
            dur=".3s"
            from="0 0"
            to="0 20"
            fill="freeze"
          />
          <animate id="o22_2"
            attributeName="opacity"
            begin="o22.end+2.5s"
            dur=".3s"
            from="1"
            to="0"
            fill="freeze"
          />
        </rect>
        <rect x="80" y="40" width="30" height="30">
          <animateTransform id="t23"
            type="translate"
            attributeName="transform"
            begin="1.5s;t23_2.end+2.5s"
            dur=".3s"
            from="0 -20"
            to="0 0"
            fill="freeze"
          />
          <animate id="o23"
            attributeName="opacity"
            begin="1.5s;o23_2.end+2.5s"
            dur=".3s"
            from="0"
            to="1"
            fill="freeze"
          />
          <animateTransform id="t23_2"
            type="translate"
            attributeName="transform"
            begin="t23.end+2.5s"
            dur=".3s"
            from="0 0"
            to="0 20"
            fill="freeze"
          />
          <animate id="o23_2"
            attributeName="opacity"
            begin="o23.end+2.5s"
            dur=".3s"
            from="1"
            to="0"
            fill="freeze"
          />
        </rect>
        <rect x="0" y="0" width="30" height="30">
          <animateTransform id="t11"
            type="translate"
            attributeName="transform"
            begin="1.8s;t11_2.end+2.5s"
            dur=".3s"
            from="0 -20"
            to="0 0"
            fill="freeze"
          />
          <animate id="o11"
            attributeName="opacity"
            begin="1.8s;o11_2.end+2.5s"
            dur=".3s"
            from="0"
            to="1"
            fill="freeze"
          />
          <animateTransform id="t11_2"
            type="translate"
            attributeName="transform"
            begin="t11.end+2.5s"
            dur=".3s"
            from="0 0"
            to="0 20"
            fill="freeze"
          />
          <animate id="o11_2"
            attributeName="opacity"
            begin="o11.end+2.5s"
            dur=".3s"
            from="1"
            to="0"
            fill="freeze"
          />
        </rect>
        <rect x="40" y="0" width="30" height="30">
          <animateTransform id="t12"
            type="translate"
            attributeName="transform"
            begin="2.1s;t12_2.end+2.5s"
            dur=".3s"
            from="0 -20"
            to="0 0"
            fill="freeze"
          />
          <animate id="o12"
            attributeName="opacity"
            begin="2.1s;o12_2.end+2.5s"
            dur=".3s"
            from="0"
            to="1"
            fill="freeze"
          />
          <animateTransform id="t12_2"
            type="translate"
            attributeName="transform"
            begin="t12.end+2.5s"
            dur=".3s"
            from="0 0"
            to="0 20"
            fill="freeze"
          />
          <animate id="o12_2"
            attributeName="opacity"
            begin="o12.end+2.5s"
            dur=".3s"
            from="1"
            to="0"
            fill="freeze"
          />
        </rect>
        <rect x="80" y="0" width="30" height="30">
          <animateTransform id="t13"
            type="translate"
            attributeName="transform"
            begin="2.4s;t13_2.end+2.5s"
            dur=".3s"
            from="0 -20"
            to="0 0"
            fill="freeze"
          />
          <animate id="o13"
            attributeName="opacity"
            begin="2.4s;o13_2.end+2.5s"
            dur=".3s"
            from="0"
            to="1"
            fill="freeze"
          />
          <animateTransform id="t13_2"
            type="translate"
            attributeName="transform"
            begin="t13.end+2.5s"
            dur=".3s"
            from="0 0"
            to="0 20"
            fill="freeze"
          />
          <animate id="o13_2"
            attributeName="opacity"
            begin="o13.end+2.5s"
            dur=".3s"
            from="1"
            to="0"
            fill="freeze"
          />
        </rect>
      </svg>
    </div>
  </body>
</html>
