<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>muuuuu-nav</title>
  </head>
  <body>
    <div class="mu-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Archive</a></li>
        <li><a href="#">Comment</a></li>
      </ul>
      <span class="des">This is a description</span>
      <span class="bagger">bagger</span>
    </div>
    <img src="https://i.pximg.net/img-original/img/2014/02/16/05/39/52/41665288_p0.jpg" alt="">
    <img src="https://i.pximg.net/img-original/img/2013/10/21/00/46/58/39245357_p0.jpg" alt="">
    <img src="https://i.pximg.net/img-original/img/2013/08/12/00/11/16/37735590_p0.jpg" alt="">
    <div class="page-top">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <line x1="0" y1="24" x2="16" y2="8" stroke-width="3" stroke="rgb(112,161,168)" />
        <line x1="16" y1="8" x2="32" y2="24" stroke-width="3" stroke="rgb(112,161,168)" />
      </svg>
    </div>
    <div class="source">pic from Ask</div>
    <script src="index.js"></script>
  </body>
</html>
