<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"><script>const ID = 'N1Y1VcfZRRA'</script>
    <title>moodley-card</title>
  </head>
  <body>
    <div class="md-card">
      <div class="image">
      </div>
      <div class="overlay">
        <div class="title">
          Lorem ipsum
        </div>
        <div class="subtitle">
          Lorem ipsum
        </div>
      </div>
    </div>
  </body>
</html>
