<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>dppiiimages-carousel</title>
  </head>
  <body>
    <div class="di-carousel">
      <div class="image">
        <span class="statusbar"></span>
        <div class="viewport">
          <ul class="overview">
            <li class="pic"><img src="https://i.pximg.net/img-original/img/2014/08/23/00/15/22/45525088_p0.png" alt=""></li>
            <li class="pic"><img src="https://i.pximg.net/img-original/img/2015/02/28/00/07/41/48998892_p0.jpg" alt=""></li>
            <li class="pic"><img src="https://i.pximg.net/img-original/img/2014/11/15/00/11/35/47084007_p0.png" alt=""></li>
          </ul>
          <div class="mask">
            <div class="prev">
              <div class="btn">
                <i class="prev-arrow ar-1"></i>
                <i class="prev-arrow ar-2"></i>
              </div>
            </div>
            <div class="next">
              <div class="btn">
                <i class="next-arrow"></i>
                <i class="next-arrow"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contents">
        <ul>
          <li class="content">
            <div class="left-area">
              <div class="small">Title-3</div>
              <div class="medium">Lorem ipsum</div>
            </div>
            <div class="right-area">
              <div class="link">View</div>
            </div>
          </li>
          <li class="content">
            <div class="left-area">
              <div class="small">Title-2</div>
              <div class="medium">Lorem ipsum</div>
            </div>
            <div class="right-area">
              <div class="link">View</div>
            </div>
          </li>
          <li class="content">
            <div class="left-area">
              <div class="small">Title1</div>
              <div class="medium">Lorem ipsum</div>
            </div>
            <div class="right-area">
              <div class="link">View</div>
            </div>
          </li>
        </ul>
      </div>
      <nav>
      </nav>
    </div>
    <p>pic from けみ猫</p>
    <script src="index.js"></script>
  </body>
</html>
